
# Ignore local Airflow and data folders
data/
logs/
.airflow/
__pycache__/
*.pyc
.cache/
.env
airflow/dags/data_test
airflow/dags/test.py
clickhouse_data/
pgdata_airflow/
airflow/logs/
dbt/target/
dbt/logs/
__pycache__/
*.pyc
.Rhistory
